<ng-container *ngIf="game">
  <mat-card>
    <mat-card-header>
      Game is finished
    </mat-card-header>
    <ng-container *ngIf="!game.winner; else game_finished">


      <mat-card-content>
        <button mat-button (click)="score('FIRST_PLAYER')">{{game.firstPlayerScore.designation}}</button>
        <button mat-button (click)="score('SECOND_PLAYER')">{{game.secondPlayerScore.designation}}</button>
      </mat-card-content>
    </ng-container>
    <ng-template #game_finished>

      <mat-card-content>
        <mat-card-title *ngIf="game.winner == 'FIRST_PLAYER'">Player 1 wins</mat-card-title>
        <mat-card-title *ngIf="game.winner == 'SECOND_PLAYER'">Player 2 wins</mat-card-title>
      </mat-card-content>

    </ng-template>
    <mat-card-actions>
      <mat-card-title><button mat-button (click)="reset()">Reset</button></mat-card-title>
    </mat-card-actions>
  </mat-card>
</ng-container>
